%li{:id => "cheer-#{cheer.id}"}
  .button_edit
    .user_section
      .image= image_tag gravatar_for(cheer.user), class: "small-avatar"
      .user= link_to cheer.user.username, user_path(cheer.user)
    .edit_section  
      .destroy{"data-id" =>cheer.id}
        = link_to "<span class=\"glyphicon glyphicon-remove\"></span>".html_safe, cheer
  .content= cheer.cheerup
  .timestamp
    Posted #{time_ago_in_words(cheer.created_at)} ago.
  .button_div
    -if cheer.promotes.present?
      -if cheer.promotes.last.status == "liked"
        %span.glyphicon.glyphicon-thumbs-up.clicked{data: {id: "#{cheer.promotes.last.id}"}}
        .score_up{:id => "score_up-#{cheer.id}"}= "#{cheer.promotes.where(status: 'liked').count}"
        %span.glyphicon.glyphicon-thumbs-down.changevotedown{data: {id: "#{cheer.promotes.last.id}"}}
        .score_down{:id => "score_down-#{cheer.id}"}= "#{cheer.promotes.where(status: 'dislike').count}"
      -else
        %span.glyphicon.glyphicon-thumbs-up.changevoteup{data: {id: "#{cheer.promotes.last.id}"}}
        .score_up{:id => "score_up-#{cheer.id}"}= "#{cheer.promotes.where(status: 'liked').count}"
        %span.glyphicon.glyphicon-thumbs-down.clicked{data: {id: "#{cheer.promotes.last.id}"}}
        .score_down{:id => "score_down-#{cheer.id}"}= "#{cheer.promotes.where(status: 'dislike').count}"
    -else
      %span.glyphicon.glyphicon-thumbs-up.newupvote{data: {id: "#{cheer.id}"}}
      .score_up{:id => "score_up-#{cheer.id}"}= "#{cheer.promotes.where(status: 'liked').count}"
      %span.glyphicon.glyphicon-thumbs-down.newdownvote{data: {id: "#{cheer.id}"}}
      .score_down{:id => "score_down-#{cheer.id}"}= "#{cheer.promotes.where(status: 'dislike').count}"
    / cheer.cheerup_score