#sign_up_text
  %h4 The world is a depressing place, we're all staring at our shoes.
  %h4 Welcome to CheerUps! - happy little quips to brighten up the world.
  %p CheerUps are 141 characters messages, which users are able to promote Cheerups, boosting the reputation of the Cheerupper.

#sign_up_container
  %h2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name), id: "signup_form") do |f|
    = devise_error_messages!
    #line_one
      = f.text_field :username, autofocus: true, :placeholder => "Username"
      = f.email_field :email, :placeholder => "Email"
    #line_two
      = f.text_area :description, :placeholder => "Description"
    #line_four
      - if @validatable
        %em
          (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autocomplete: "off", :placeholder => "Password"
      = f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Confirm password"
    .actions
      = f.submit "Sign up"

