!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link{:href => "http://fonts.googleapis.com/css?family=Lobster", :rel => "stylesheet", :type => "text/css"}/
    %title= content_for?(:title) ? yield(:title) : "Cheerups"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", :rel => "stylesheet"}
    = javascript_include_tag "application"


  %body#page-top{"data-spy" => "scroll", "data-target" => ".navbar-fixed-top"}
    %nav.navbar.navbar-default.navbar-fixed-top#nav_bar_main{:role => "navigation"}
      .container.fluid
      .col-xs-4.col-sm-4.col-md-4
        .navbar-header.page-scroll
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand= link_to 'Cheerups!', cheers_path
          .container
            .nav
            = search_form_for @q do |f|
              %p
                = f.text_field :username_cont, :placeholder => "Find User.."
              %p
              - if user_signed_in?
                -if current_user.image? && current_user.username?
                  = image_tag gravatar_for(current_user), class: "small-avatar"
                  %b= link_to current_user.username, following_user_path(current_user)
                - else
                  = image_tag gravatar_for(current_user), class: "small-avatar"
                  Logged in as
                  %b= link_to current_user.email, following_user_path(current_user)
                = link_to "Edit Profile", edit_user_registration_path
                |
                = link_to "Logout", destroy_user_session_path, method: :delete
              - else
                |
                = link_to "Login|Sign-up", new_user_session_path
                |
                = link_to "Sign in With Twitter", user_omniauth_authorize_path(:twitter)
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"
    .row
      .col-md-3

        -if current_user
          %section.stats
            = render 'shared/profile'
        -else
          =render "devise/shared/new_login"

      .col-md-6#cheer_feed
        = yield
      .col-md-3
    
        = bootstrap_flash if bootstrap_flash.present?
        - if current_user
          .well.sidebar-nav
            %h3 Sidebar
            %ul.nav.nav-list
              %li.nav-header Sidebar
              - if current_user 
                %a.twitter-timeline{"data-widget-id" => "532864296850427906", :href => "https://twitter.com/hashtag/happy"} #happy Tweets
                :javascript
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    %footer
      %p &copy; Cheers 2014
